# plugins
**/plugins/
**/plugged/
!config/nvim/lua/plugins/
!config/sketchybar/plugins/

# python
*.pyo
**/__pycache__/

# lazygit
config/lazygit/state.yml

# nvim lazy
config/nvim/lazy-lock.json

# mpv
config/mpv/watch_later/

# emacs
config/emacs/auto-save-list/
config/emacs/elpa/
config/emacs/transient/
config/emacs/recentf

# tmp
*~
*swp

.DS_Store
.vscode/*
