# plugins
**/plugins/
**/plugged/
!config/nvim/lua/plugins/
!config/sketchybar/plugins/

# python
*.pyo
**/__pycache__/

# lazygit
config/lazygit/state.yml

# nvim lazy
config/nvim/lazy-lock.json

# mpv
config/mpv/watch_later/

# emacs
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/eln-cache/
emacs.d/transient/
emacs.d/recentf
emacs.d/**/*.el

# tmp
*~
*swp

.DS_Store
.vscode/*
